body{
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  overflow: hidden;
}
.block{
  width: 80px;
  height: 80px;
  background-image: url('cube.png');
  background-size: contain;
  bottom: 50px;
  left: 50%;
  margin-left: -40px;
  position: fixed;
  transform: rotateZ(45deg);
  border-radius: 15px;
  transition: .2s;
  z-index: 99;
}
body{
  background-color: #fff;
}
#falling_ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    transition: .2s;
    z-index: 98;
}
#scoreboard{
  position: fixed;
  right: 20;
}
#icon{
  position: fixed;
  left: 20;
  top: 12px;
}
h3{
  padding: 0px;
  margin: 0px;
}
.hidden, .hidden2{
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  transition: .4s;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
}
.score-panel{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: .4s;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
}
#inner{
  margin-top: 120px;
  border: 0px;
}
#resume{
  width: 50%;
  height: 45px;
  border: 0px;
  background-color: red;
  text-transform: uppercase;
  color: #fff;

}

.darkmode-toggle{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0);
  width: 100px;
  height: 40px;
  padding-top: 20px;
  padding-right: 20px;
}

.darkmode-toggle .backdrop{
  width: 45%;
  height: 50%;
  background-color: #333;
  border-radius: 50px;
}

.darkmode-toggle .toggle-ball{
  background-color: #f2f2f2;
  border: 1px #333 solid;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 17px;
  border-radius: 50%;
}

.darkmode-off{
  left: 0px;
  transition: .12s;
}

.darkmode-on{
  left: 18px;
  transition: .12s;
}

.light{
  color: #000;
  background-color: #fff;
}

.dark{
  color: #f3f3f3;
  background-color: #2e2e2e;
}